type project
id
	FSharp.ORM
owners
    Xavier Zwirtz
authors 
    Xavier Zwirtz
projectUrl
    http://github.com/xavierzwirtz/FSharp.ORM
iconUrl
    https://raw.githubusercontent.com/xavierzwirtz/FSharp.ORM/master/docs/files/img/logo.png
licenseUrl
    http://github.com/xavierzwirtz/FSharp.ORM/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    ORM F#
summary
    .NET ORM, primarily for F#
description
    .NET ORM, primarily for F#


